pip>=9
setuptools>=26
wheel>=0.29
pandas
pytest
coverage
flake8
black
yapf
python-gitlab
twine
tensorflow.keras.preprocessing.image.ImageDataGenerator
IL.Image
tensorflow.keras.preprocessing.image.img_to_array
matplotlib.pyplot
numpy
os
cv2
shutil
tensorflow
tensorflow.keras.optimizers
tensorflow.keras.callbacks
tensorflow.keras.Sequential
tensorflow.keras.layers
tensorflow.keras.models.Model
os
PIL.Image
tensorflow.keras
PIL.ImageFile
sklearn.metrics.pairwise.cosine_similarity
tensorflow.keras.applications.mobilenet_v2.MobileNetV2
tensorflow.keras.applications.mobilenet_v2.preprocess_input
streamlit==0.65.2
